<tr {% if invoice.paid_on %} class="table-success" {% endif %}>
  <th>{{ invoice.number }}</th>
  <th>{{ invoice.Customer_name }}</th>
  <th>{{ invoice.issued_on|format_datetime }}</th>
  <th>{{ invoice.paid_on|format_datetime }}</th>
  <th>{{ "$ " ~ invoice.total }}</th>
  <th>{{ "$ " ~ invoice.total * 0.3|round(2) }}</th>
  <th>
    <form action="/invoices/{{ invoice.id }}/download" method="post" id="invoice-download">
      <button class="btn btn-outline-secondary btn-sm">Download <i class="fas fa-file-excel"></i></button>
    </form>
  </th>
  {% if not invoice.paid_on %}
  <th>
    <form action="/invoices/{{ invoice.id }}/paid" method="post" id="invoice-paid">
      <button class="btn btn-outline-success btn-sm">Mark Paid <i class="fas fa-dollar-sign"></i></button>
    </form>
  </th>
  {% else %}
  <th/>
  {% endif %}
  <th>
    <form action="/invoices/{{ invoice.id }}/delete" method="post" id="invoice-delete">
      <button class="btn btn-outline-danger btn-sm delete">Delete <i class="fas fa-trash-alt"></i></button>
    </form>
  </th>
</tr>
