{% extends 'layout.html' %}
{% block body %}
<div class="col-lg-4">
  <h2>New Customer</h2>
  <form action="/customers" method="post" id="new-customer">
    <div class="form-group">
      <label for="customer_name">Name</label>
      <input class="form-control" name="customer_name" required>
    </div>
    <div class="form-group">
      <label for="customer_email">Email</label>
      <input type="email" class="form-control" name="customer_email" required>
    </div>
    <br>
    <legend>Address</legend>
    <div class="form-group">
      <label for="customer_attn">Attn</label>
      <input class="form-control" name="customer_attn" required>
    </div>
    <div class="form-group">
      <label for="customer_addr1">Address 1</label>
      <input class="form-control" name="customer_addr1" required>
    </div>
    <div class="form-group">
      <label for="customer_addr2">Address 2</label>
      <input class="form-control" name="customer_addr2">
    </div>
    <div class="form-group">
      <label for="customer_city">City</label>
      <input class="form-control" name="customer_city" required>
    </div>
    <div class="form-group">
      <label for="customer_state">State</label>
      <select class="form-control custom-select" name="customer_state" required>
        <option value="">Choose</option>
        {% for state in states %}
        <option value="{{state}}">{{state}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="customer_zip">Zip Code</label>
      <input type="text" class="form-control" name="customer_zip" pattern="\d{5}" required>
    </div>
    <button class="btn btn-outline-secondary">Add Customer <i class="fas fa-plus"></i></button>
  </form>
</div>
{% endblock %}

